<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <title>{{#block 'title'}}{{/block}}</title>
  </head>

  <body class="bg-dark">
    <!-- Inject success message -->
    {{#if success_messages}}
    {{#each success_messages}}
    <div class="alert alert-success">{{ this }}</div>
    {{/each}}
    {{/if}}

    <!-- Inject error message -->
    {{#if error_messages}}
    {{#each error_messages}}
    <div class="alert alert-danger">{{ this }}</div>
    {{/each}}
    {{/if}}

    <section class="container-fluid bg-dark">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
        <a class="navbar-brand" href="#">PostersTomorrow</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/products"
                >All Products <span class="sr-only">(current)</span></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/products/create">Create Product</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about-us">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact-us">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/cart">Shoppping Cart</a>
            </li>
          </ul>
          {{#if user}}
          <a href="/users/profile" class="btn btn-outline-warning btn-sm my-2 mr-2">
            {{ user.username }}
          </a>
          <a href="/users/logout" class="btn btn-danger btn-sm my-2 my-0">
            Logout
          </a>
          {{else}}
          <a
            href="/users/login"
            class="btn btn-outline-warning btn-sm my-2 my-0"
          >
            Login
          </a>
          <a
            href="/users/register"
            class="btn btn-warning my-2 btn-sm my-0 ml-2"
          >
            Register
          </a>
          {{/if}}
        </div>
      </nav>
      <div class="text-light">{{#block 'content'}}{{/block}}</div>
    </section>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    {{#block 'js'}}
    {{/block}}
  </body>
</html>
