.navbar .active {
  border: 1px solid white;
  border-radius: 15px;
}

.navbar .active:hover {
  border: 1px solid white;
  color: #000000;
  background-color: #6e6e6b;
}

.image-preview {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.table {
  table-layout: fixed;
}

table td.td-content {
  max-width: 10px;
}

table td.td-content span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  max-width: 100%;
}
table td.td-content:hover span {
  font-size: 13px;
  background-color: #3b3636;
  border-radius: 15px;
  overflow: visible;
  white-space: normal;
  height: auto;
  position: absolute;
  padding: 10px;
  /* top: -500px; */
  margin-top: -27px;
  z-index: 20;
}

#update-status {
  display: none;
}
