{{#extends 'base'}}

{{#block 'title'}} About HelloBaby {{/block}}

{{#block 'content'}} 

<h1>About HelloBaby</h1>
<p>This is the admin system for the baby shopping site, HelloBaby.com.</p>
<p>HelloBaby's aim is to provide parents with a one-stop place to purchase everything that they need to prepare for the arrival of their newborn and to support them on their journey of becoming the best parents that they can be.</p>



{{/block}}
{{/extends}}