{{#extends 'base'}}

{{#block 'title'}} About PostersTomorrow {{/block}}

{{#block 'content'}} 

<h1>About PostersTomorrow</h1>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam, fugit asperiores amet necessitatibus, voluptatum facere aut hic sint molestias modi consequatur quidem laudantium. Porro accusantium perspiciatis amet non est facilis.</p>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam, fugit asperiores amet necessitatibus, voluptatum facere aut hic sint molestias modi consequatur quidem laudantium. Porro accusantium perspiciatis amet non est facilis.</p>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam, fugit asperiores amet necessitatibus, voluptatum facere aut hic sint molestias modi consequatur quidem laudantium. Porro accusantium perspiciatis amet non est facilis.</p>


{{/block}}
{{/extends}}