{{#extends 'base'}}

{{#block 'title'}} Contact System Administrator {{/block}}

{{#block 'content'}} 

<h1>Contact System Administrator</h1>
<p>If you require any assistance with the system, or would like to report a bug, please contact us at hkgnp.git@gmail.com.</p>



{{/block}}
{{/extends}}