{{#extends 'base'}}

{{#block 'title'}} Welcome to PostersTomorrow! {{/block}}

{{#block 'content'}} 
<h1>Welcome to PostersTomorrow</h1>
<h2>A place to buy affordable organic foods</h2>


{{/block}}
{{/extends}}