{{#extends 'base'}}

{{#block 'title'}} Welcome to HelloBaby! {{/block}}

{{#block 'content'}} 
<h1>Welcome to HelloBaby</h1>
<h2>One-stop place for any parent welcoming a newborn!</h2>


{{/block}}
{{/extends}}