{{#extends 'base'}}

{{#block 'title'}} Register {{/block}}

{{#block 'content'}}
<h1>Register a User</h1>
<form method="POST" class="form-dark">
    <input type="hidden" name="_csrf" value="{{csrfToken}}" />
    {{{form}}}
    <input type="submit" class="btn btn-warning mr-2" value="Register User" />
    <a class="btn btn-danger" href="/products">Cancel</a>
</form>
{{/block}}

{{#block 'js'}}
<script>
document.querySelector('#id_role_id').value = 1
</script>
{{/block}}
{{/extends}}
