{{#extends 'base'}}

{{#block 'title'}} Add Categories and Tags {{/block}}

{{#block 'content'}}
<h1>Add Category and Tags</h1>
<form method="POST" class="form-dark">
{{{form}}}
<input type="submit" class="bntn btn-warning mt-3 mb-5" value="Create Category / Tag" />
</form>
{{/block}}

{{/extends}}