{{#extends 'base'}}

{{#block 'title'}} Create a Product {{/block}}

{{#block 'content'}}
<h1>Create New Product</h1>
<form method="POST" class="form-dark">
  <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
  {{{form}}}
  <span
    >Don't see a category or tag you need?
    <a href="/products/addcategorytags" class="text-light"><u>Click here</u></a>
    to add one.</span
  >
  <div>
    <!-- UploadCare -->
    <input
      type="hidden"
      role="uploadcare-uploader"
      id="uploadedImage"
      data-preview-step="true"
      data-effects="crop,rotate,enhance,sharp,grayscale"
    />
  </div>
  <input
    type="submit"
    class="btn btn-warning mt-3 mb-5"
    value="Create Product"
    id="submit-btn"
  />
</form>
{{/block}}

{{#block 'js'}}

{{!-- UploadCare --}}
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  charset="utf-8"
></script>
<script src="https://ucarecdn.com/libs/widget/3.x/uploadcare.min.js"></script>
<script src="https://ucarecdn.com/libs/widget-tab-effects/1.x/uploadcare.tab-effects.min.js"></script>
<script>
  window.UPLOADCARE_PUBLIC_KEY = process.env.UPLOADCARE_PUBLIC_KEY;
  uploadcare.registerTab('preview', uploadcareTabEffects);

  const widget = uploadcare.Widget('[role=uploadcare-uploader]');
  let images;

  widget.onUploadComplete(function (info) {
    const thumbnailUrl = `${info.cdnUrl}/-/preview/-/scale_crop/200x200/`;
    saveImage(info.cdnUrl).then(() => {
      $('#uploadedImage').parent().html(`
      <div class="row border border-light mx-1 mt-3 p-3" id="uploaded_image_div">
        <img src="${thumbnailUrl}" style="display: block" id="uploaded_image" />
        <div class="pl-3" style="vertical-align: center" id="uploaded_image_name">          
          <h4 class="mt-2 ">${info.name}</h4>
          <h6 class="mt-0">${info.mimeType}</h6></div>
        </div>
      </div>
      `);
    });
  });

  fetchImages().then((uploadedImages) => {
    images = uploadedImages;
    const imageHtml = images.reduce((html, url) => {
      const thumbnailUrl = `${url}/-/preview/-/scale_crop/200x200/`;
      return (
        html +
        '<div class="col" >' +
        '<a href="#" class="d-block mb-4 h-100">' +
        `<img class="img-fluid img-thumbnail" src="${thumbnailUrl}">` +
        '</a>' +
        '</div>'
      );
    }, '');

    $(imageHtml).appendTo('#imagesContainer');
  });

  function fetchImages() {
    return new Promise((resolve) => {
      const images = JSON.parse(localStorage.getItem('images') || '[]');
      setTimeout(() => resolve(images), 500);
    });
  }

  function saveImage(url) {
    return new Promise((resolve) => {
      images.push(url);
      localStorage.setItem('images', JSON.stringify(images));
      setTimeout(() => resolve(), 500);
    });
  }

  function refreshPage() {
    window.location.href = window.location.href;
  }

  document.querySelector('#submit-btn').addEventListener('click', () => {
    localStorage.removeItem('images');
  });
</script>

{{/block}}

{{/extends}}
